<main>
  <%= form_tag create_path do %>
    <section id="regions">
      <%= render partial: 'city_dropdown_list', locals: {items: @regions} %>
    </section>
    <section id="categories">
      <%= render partial: 'category_dropdown_list', locals: {items: @categories} %>
    </section>
    <section id="creation">
      <%= submit_tag "Create OPML File" %>
      <%= submit_tag "Create new aggregator" %>
    </section>
  <% end %>
</main>
